.c-intro {
  &__heading {
    color: var(--color-indigo);
    margin-bottom: 4rem;
  }

  &__description {
    font-size: 2.4rem;
    max-width: 70rem;
    color: var(--color-grayDark);

    p {
      margin: 0 0 $gutter 0;

      &:last-child {
        margin: 0;
      }
    }
  }
}