.resume {
  display: flex;
  flex-direction: column;

  &__head {
    padding: calc(var(--gap) * 10) calc(var(--gap) * 9) calc(var(--gap) * 6);
    border-bottom: .1rem solid #212121;
  }

  &__body {
    display: flex;
  }

  &__info, &__contact {
    padding: calc(var(--gap) * 6) calc(var(--gap) * 9);
    display: flex;
    flex-direction: column;
  }

  &__info {
    flex: 1;
    border-right: .1rem solid #212121;
  }

  &__contact {
    width: 40rem;
  }

  &__row {
    display: flex;
    justify-content: space-between;
  }

  &__skill {
    display: flex;
    justify-content: space-between;
    position: relative;
    padding-bottom: calc(var(--gap) * 2);

    &Progress, &Line {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: .2rem;
      background-color: #EEEEEE;
    }

    &Line {
      z-index: 1;
      width: 50%;
      background-color: #212121;
    }
  }
}
