.c-section {
  &.-intro {
    padding: 10rem 0;
  }

  &.-stats {
    padding: 0 0 10rem 0;
  }

  &.-skills {
    padding: 0 0 10rem 0;
  }

  &.-chat {
    padding: 10rem 0;
    background: var(--color-grayLight);
  }

  &.-portfolio {
    padding: 10rem 0 0 0;
    border-bottom: 1px solid var(--color-gray);
  }

  &.-quote {
    padding: 10rem 0;
  }

  &.-cta {
    padding: 10rem 0;
    background: var(--color-grayLight);
  }
}