.header
  padding: 8rem 0 2rem 0

  &__inner
    display: flex
    align-items: center
    justify-content: space-between

  &__nav
    //

  &__link
    font-weight: 600
    font-size: 1.6rem

.logo
  svg
    width: 10rem
    height: 3rem
