.intro
  border-bottom: 1px solid rgba($colors.black, .05)
  margin-bottom: 5rem
  padding-bottom: 5rem

  &__heading
    margin: 0
    font-size: 6.4rem
    font-weight: 600
    margin: 0 0 3rem 0

  &__link
    //

  &__subheading
    font-size: 1.8rem
    width: cell-width(9)
    color: rgba($colors.black, .5)
