.section
  padding-top: 8rem

  &__head
    text-align: center
    max-width: 64rem
    width: 100%
    margin-left: auto
    margin-right: auto
    margin-bottom: 4rem

  &__title
    margin: 0 0 1rem 0
    font-weight: 600

  &__subtitle
    color: #888
