cell-width($n)
  (100% / 12 * $n)

$a = ($container.max / 100)
$b = ($container.max / 12)
$cell-percent = ($b / $a)%
$cell-fix = ($container.max / 12)

cell($n)
  $cell-percent * $n

cell-fix($n)
  $cell-fix * $n
