//
// Variables
// -------------------------

$container = {
  xs: 576px,
  sm: 768px,
  md: 940px,

  max: 940px
}

$font-family-serif = 'Harriet Display'
$font-family-default = 'GT Haptik'

$font-size-default = 1.4rem
$font-size-large = 1.6rem

$line-height-default = 1.78571429
$line-height-large = 1.62500

$colors = {
  default: #353535,
  white: #ffffff,
  black: #000000,
  blue: #5528ff,
  error: #f1563f,
  aqua: #00f0f0,
  gray_1: #f8f9fb,
  gray_2: #f1f4f7,
  gray_3: #dbe2e7,
  gray_4: #c5cbd4,
  gray_5: #93989e,
  gray_6: #505050,
  indigo_1: #fafaff,
  indigo_2: #e6e6ff,
  indigo_3: #c8c8ff,
  indigo_4: #8c82ff,
  indigo_5: #5528ff,
  indigo_6: #280f96,
  indigo_7: #140532
}

$tr = {
  time: .25s,
  func: ease-out
}

$indent = {
  mobile: 3rem,
  desktop: 8rem
}
