.line {
  position: relative;
  overflow-x: hidden;
  background-color: var(--color-purple);

  &__list {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: calc(var(--gap) * 6) 0 0 0;
  }

  &__item {
    padding: 0 calc(var(--gap) * 6);

    span {
      font-family: var(--font-default);
      font-weight: 700;
      font-size: 2rem;
      line-height: 2.4rem;
      color: var(--color-white);
      user-select: none;
      letter-spacing: .1px;
      opacity: .1;
    }
  }
}

.footer {
  background-color: var(--color-purple);

  &__inner {
    position: relative;
  }

  &__head {
    padding: calc(var(--gap) * 16) 0;

    @include tablet {
      padding: calc(var(--gap) * 20) 0;
    }
  }

  &__heading {
    margin: 0 0 calc(var(--gap) * 3) 0;

    @include heading-1;
    color: var(--color-white);
  }

  &__text {
    font-size: 2.4rem;
    line-height: 3rem;
    color: var(--color-white);

    &::before {
      content: '/';
      padding-right: calc(var(--gap) * 3);
    }

    a {
      letter-spacing: .4px;
      color: currentColor;
      transition: opacity var(--transition-default);

      &:hover {
        opacity: .8;
      }
    }
  }

  &__bottom {
    border-top: 1px solid rgba(255, 255, 255, .15);
    padding: calc(var(--gap) * 10) 0;
  }

  &__copy {
    @include text-18;
    color: var(--color-white);
    opacity: .8;
  }

  &__networks {

  }
}