.services {
  &__inner {
    padding: calc(var(--gap) * 16) 0 calc(var(--gap) * 4) 0;

    @include tablet {
      padding: calc(var(--gap) * 20) 0 calc(var(--gap) * 8) 0;
    }
  }

  &__head {
    margin: 0 0 calc(var(--gap) * 10) 0;
  }

  &__heading {

  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 calc(var(--gap) * -4);
  }

  &__item {
    width: 100%;
    max-width: 45%;
    padding: 0 calc(var(--gap) * 4);
    margin: 0 0 calc(var(--gap) * 16) 0;
  }
}

.service {
  &__head {
    margin: 0 0 calc(var(--gap) * 6) 0;
  }

  &__heading {
    margin: 0 0 calc(var(--gap) * 2) 0;
  }

  &__description {
    @include text-18;
    color: var(--color-gray-90);
  }

  &__stack {
    display: flex;
    flex-wrap: wrap;
    margin: 0 calc(var(--gap) * -1);

    span {
      display: block;
      margin: var(--gap);
      padding: calc(var(--gap) * 1) calc(var(--gap) * 2);

      border-radius: var(--gap);

      font-weight: 500;
      background-color: var(--color-blue-30);
      color: var(--color-purple);
    }
  }
}