@font-face {
  font-family: 'Graphik Regular';
  src: url('/assets/fonts/Graphik-Regular-Web.eot');
  src: url('/assets/fonts/Graphik-Regular-Web.eot#iefix') format('embedded-opentype'),
       url('/assets/fonts/Graphik-Regular-Web.woff2') format("woff2"),
       url('/assets/fonts/Graphik-Regular-Web.woff') format("woff"),
       url('/assets/fonts/Graphik-Regular-Web.ttf') format("truetype");
}

@font-face {
  font-family: 'Graphik Medium';
  src: url('/assets/fonts/Graphik-Regular-Medium.eot');
  src: url('/assets/fonts/Graphik-Regular-Medium.eot#iefix') format('embedded-opentype'),
       url('/assets/fonts/Graphik-Regular-Medium.woff2') format("woff2"),
       url('/assets/fonts/Graphik-Regular-Medium.woff') format("woff"),
       url('/assets/fonts/Graphik-Regular-Medium.ttf') format("truetype");
}

@font-face {
  font-family: 'Graphik Bold';
  src: url('/assets/fonts/Graphik-Regular-Bold.eot');
  src: url('/assets/fonts/Graphik-Regular-Bold.eot#iefix') format('embedded-opentype'),
       url('/assets/fonts/Graphik-Regular-Bold.woff2') format("woff2"),
       url('/assets/fonts/Graphik-Regular-Bold.woff') format("woff"),
       url('/assets/fonts/Graphik-Regular-Bold.ttf') format("truetype");
}

@font-face {
  font-family: 'Gilroy Bold';
  src: url('/assets/fonts/Gilroy-Bold.eot');
  src: url('/assets/fonts/Gilroy-Bold.eot?#iefix') format('embedded-opentype'),
      url('/assets/fonts/Gilroy-Bold.woff2') format('woff2'),
      url('/assets/fonts/Gilroy-Bold.woff') format('woff'),
      url('/assets/fonts/Gilroy-Bold.ttf') format('truetype');
}
