h1 {
  font-size: 4rem;
  line-height: 1.1;
  margin: 0;
  letter-spacing: -2px;

  @media screen and (min-width: 768px) {
    font-size: 6rem;
  }
}

h2 {
  font-size: 3.2rem;
  line-height: 1.2;
  margin: 0;

  @media screen and (min-width: 768px) {
    font-size: 4rem;
  }
}

h3 {
  font-size: 2.4rem;
  line-height: 1.2;
  margin: 0;

  @media screen and (min-width: 768px) {
    font-size: 3.2rem;
  }
}

p {
  margin: 0 0 $gutter 0;
}

.color {
  &-indigo {
    color: map-get($colors, indigo);
  }
}

.center {
  text-align: center;
}