:root {
  --color-purple: #5A50FA;
  --color-black: #242424;
  --color-white: #ffffff;
  --color-yellow: #ffff00;
  --color-red: #db6a6a;
  --color-gray-10: #f4f4f4;
  --color-gray-30: #ececec;
  --color-gray-50: #b2b2b2;
  --color-gray-70: #757575;
  --color-gray-90: #3a3a3a;

  --font-default: GT-America;
  --font-serif: DM-Serif;
  --font-fallback: system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;

  --shadow-small: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 2px rgba(0, 0, 0, 0.06), 0px 0px 1px rgba(0, 0, 0, 0.04);
  --shadow-medium: 0px 10px 20px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
  --shadow-large: 0px 16px 24px rgba(0, 0, 0, 0.06), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);

  --transition-default: .1s ease-in-out;

  --gap: .4rem;
}

$colors: (
  white: #fff,
  black: #000,
  base: #2D333A,
  gray: #67686E,
  indigo: #5A50FA
);

$gutter: 2rem;
$grid: 5rem;

$gap: .4rem;