extends /includes/layout

include /mixins/image
include /mixins/icon

block content
  header.header
    .container
      .header__inner
        .header__logo
          .logo
            +icon('icon-logo')

  .intro
    .container
      h1.intro__heading We're an independent <a href="#development" class="link intro__link">development</a> agency.
      .intro__subheading We understand the intricacies of software development inside-out. That's why we can provide a wide range of services, from discovery phase and UX research, to building rock-solid Mobile and Web applications enriched with user-centered visual experiences.

  .content
    .container
      section#clients
        .section__head
          h2.section__title We've had the pleasure to work with
        .section__content
          .clients
            .clients__list
              .clients__item
                .client
                  +image('clients/banyan_street_capital.png')
              .clients__item
                .client
                  +image('clients/black-stone.png')
              .clients__item
                .client
                  +image('clients/hines.png')
              .clients__item
                .client
                  +image('clients/ngfk.png')
              .clients__item
                .client
                  +image('clients/arcis.png')
              .clients__item
                .client
                  +image('clients/rxr.png')
              .clients__item
                .client
                  +image('clients/landsec.png')
              .clients__item
                .client
                  +image('clients/cbre.png')
      section.section#development
        .section__head
          h2.section__title What we do
        .section__content
          .cards
            .cards__list
              .card.cards__item
                .card__inner
                  .card__icon
                    +icon('icon-frontend')
                  .card__movable
                    .card__title Frontend development
                    .card__description Can’t figure out the web and its complexities? Using JavaScript technologies like Angular and React, we create web apps that are both beautiful and lightning-fast.
                    .card__link
                      span Find out more
                      +icon('icon-arrow').card__arrow
              .card.cards__item
                .card__inner
                  .card__icon
                    +icon('icon-backend')
                  .card__movable
                    .card__title Backend development
                    .card__description Need a web app, custom backend system or an API? We use rock-solid and scalable technologies like PHP, Node and Python.
                    .card__link
                      span Find out more
                      +icon('icon-arrow').card__arrow
