.cv-page {
  &__header {
    background-color: var(--color-gray-10);
    min-height: calc(var(--gap) * 64);
  }

  &__content {
    max-width: 972px;
    margin: calc(var(--gap) * -20) auto 0 auto;
    padding: 0 calc(var(--gap) * 4) calc(var(--gap) * 10) calc(var(--gap) * 4);
  }
}

.cv-header {
  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;

    max-width: 1440px;
    margin: 0 auto;
    padding: calc(var(--gap) * 10) calc(var(--gap) * 4);
  }

  &__logo {
    color: var(--color-black);
    transition: color var(--transition-default);
    cursor: pointer;

    &:hover {
      color: var(--color-purple);
    }
  }
}

.cv-button {
  padding: calc(var(--gap) * 4) calc(var(--gap) * 5);
  background-color: var(--color-black);
  border-radius: calc(var(--gap) * 1);
  color: var(--color-white);

  font-family: var(--font-fallback);
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1;
  transition: background-color var(--transition-default);
  cursor: pointer;

  &:hover {
    background-color: var(--color-gray-90);
  }
}

.cv-block {
  border: 1px solid var(--color-gray-30);
  border-radius: calc(var(--gap) * 1);
  background-color: var(--color-white);

  &__inner {
    padding: calc(var(--gap) * 16);
  }

  &__head {
    margin: 0 0 calc(var(--gap) * 8) 0;
  }

  &__heading {
    margin: 0 0 calc(var(--gap) * 2) 0;

    h1 {
      font-size: 4rem;
      letter-spacing: 0;
    }
  }

  &__position {
    font-size: 1.8rem;
    color: var(--color-gray-70);
  }

  &__main {
    display: flex;
  }

  &__content {
    flex: 1;
  }

  &__side {
    width: 280px;
    flex-shrink: 0;
    padding: 0 0 0 calc(var(--gap) * 16);
  }

  &__summary {
    font-size: 2.8rem;
    line-height: 3.6rem;
    margin: 0 0 calc(var(--gap) * 12) 0;
  }

  &__section {
    &:not(:last-child) {
      margin: 0 0 calc(var(--gap) * 10) 0;
    }
  }
}

.cv-section {
  &__title {
    margin: 0 0 calc(var(--gap) * 5) 0;
    color: var(--color-purple);

    // &_green {
    //   color: #56D9A0;
    // }

    // &_purple {
    //   color: #8D66DB;
    // }

    // &_orange {
    //   color: #FF9957;
    // }

    // &_red {
    //   color: #ff7171;
    // }

    // &_blue {
    //   color: #59cef3;
    // }

    h3 {
      font-size: 1.8rem;
      line-height: 2.4rem;
      text-transform: uppercase;
    }
  }

  &__item {
    &:not(:last-child) {
      margin: 0 0 calc(var(--gap) * 6) 0;
    }

    &_large {
      &:not(:last-child) {
        margin: 0 0 calc(var(--gap) * 10) 0;
      }
    }
  }
}

.cv-item {
  &__title {
    margin: 0 0 calc(var(--gap) * 2) 0;

    h5 {
      font-weight: 600;
      font-size: 1.8rem;
      color: var(--color-gray-90);
    }
  }

  &__content {
    & > p {
      font-size: 1.6rem;
    }
  }
}

.cv-education {
  &__head {
    display: flex;
    margin: 0 0 calc(var(--gap) * 2) 0;
  }

  &__name {
    flex: 1;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 2.4rem;
    color: var(--color-gray-90);
  }

  &__years {
    flex-shrink: 0;

    font-size: 1.6rem;
    line-height: 2.4rem;
    opacity: .8;
  }

  &__text {
    font-size: 1.6rem;
  }
}

.cv-experience {
  &__stack {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 2.4rem;
    color: var(--color-gray-90);
    margin: 0 0 calc(var(--gap) * 1) 0;
  }

  &__meta {
    display: flex;
    align-items: center;
    margin: 0 0 calc(var(--gap) * 2) 0;
  }

  &__item {
    font-size: 1.6rem;
    line-height: 2.4rem;
    opacity: .5;

    &:not(:last-child) {
      display: flex;

      &::after {
        content: '\2014';
        padding: 0 calc(var(--gap) * 2);
        color: var(--color-gray-50);
      }
    }
  }

  &__text {
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: var(--color-gray-90);
  }
}

.cv-progress {
  background-color: var(--color-gray-30);
  overflow: hidden;

  span {
    display: block;
    height: calc(var(--gap) / 2);
    background-color: var(--color-black);
    opacity: .6;
  }
}