.hero {
  background-color: var(--color-blue-10);

  &__inner {
    padding-top: 126px;
  }

  &__content {
    padding: calc(var(--gap) * 10) 0;
    min-height: 480px;

    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__head {
    max-width: 800px;
  }

  &__heading {
    margin: 0 0 calc(var(--gap) * 4) 0;
    color: var(--color-purple);
  }

  &__description {
    max-width: 640px;

    p {
      font-size: 2.4rem;
      line-height: 3.6rem;
    }
  }
}