@require '~normalize.css'
@require 'base/variables'
@require 'base/mixins'
@require 'base/media'
@require 'base/fonts'
@require 'base/typo'
@require 'base/buttons'
@require 'base/grid'
@require 'base/form'
@require 'base/animations'

@require 'modules/header'
@require 'modules/intro'
@require 'modules/section'
@require 'modules/cards'
@require 'modules/clients'

*,
*::before,
*::after
  box-sizing: border-box

html
  font-size: 62.5%
  background-color: $colors.white

body
  font-family: $font-family-default, 'Helvetica Neue', 'Segoe UI', sans-serif
  font-size: $font-size-default
  font-weight: 400
  line-height: $line-height-default
  letter-spacing: .05rem
  text-rendering: optimizeLegibility
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  color: $colors.default

.container
  width: 100%
  max-width: $container.max
  margin-left: auto
  margin-right auto
  padding-left: 1.5rem
  padding-right: 1.5rem

.page
  position: relative
  z-index: 2

[v-cloak]
  display: none

.__active
  display: block

.__inactive
  display: none

section
  padding: 5rem 0
  outline: 0
