@import './vendor/normalize.css';
@import './vendor/grid.css';

@import './fonts.scss';
@import './variables.scss';
@import './viewport.scss';
@import './mixins.scss';
@import './typo.scss';

html {
  height: 100%;
  box-sizing: border-box;
  font-size: 62.5%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: 'liga' 1;
  font-feature-settings: 'liga' 1;
}

body {
  margin: 0;
  font-family: var(--font-fallback);
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.4rem;
  color: var(--color-black);

  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}