@font-face {
  font-family: 'DM-Serif';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  unicode-range: U+0000-00FF;
  src: url('../public/fonts/DM-Serif-Text-Regular.woff2') format('woff2'),
       url('../public/fonts/DM-Serif-Text-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Gilroy';
  src: url('../public/fonts/Gilroy-Regular.woff2') format('woff2'),
       url('../public/fonts/Gilroy-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../public/fonts/Gilroy-Bold.woff2') format('woff2'),
       url('../public/fonts/Gilroy-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../public/fonts/Gilroy-Light.woff2') format('woff2'),
       url('../public/fonts/Gilroy-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../public/fonts/Gilroy-Semibold.woff2') format('woff2'),
       url('../public/fonts/Gilroy-Semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../public/fonts/Gilroy-Medium.woff2') format('woff2'),
       url('../public/fonts/Gilroy-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}