@mixin heading-1 {
  font-family: var(--font-default), var(--font-fallback);
  font-size: 3.6rem;
  line-height: 4.4rem;
  font-weight: 700;

  @include tablet {
    font-size: 5.6rem;
    line-height: 6.4rem;
  }
}

@mixin heading-2 {
  font-family: var(--font-default), var(--font-fallback);
  font-size: 2.8rem;
  line-height: 3.6rem;
  font-weight: bold;

  @include tablet {
    font-size: 4rem;
    line-height: 4.8rem;
  }
}

@mixin heading-3 {
  font-family: var(--font-default), var(--font-fallback);
  font-size: 2.4rem;
  line-height: 3.2rem;
  font-weight: bold;

  @include tablet {
    font-size: 3rem;
    line-height: 4rem;
  }
}

@mixin heading-4 {
  font-family: var(--font-default), var(--font-fallback);
  font-size: 2rem;
  line-height: 2.4rem;
  font-weight: bold;

  @include tablet {
    font-size: 2.6rem;
    line-height: 3.2rem;
  }
}

@mixin heading-5 {
  font-family: var(--font-default), var(--font-fallback);
  font-size: 1.8rem;
  line-height: 2.2rem;
  font-weight: bold;

  @include tablet {
    font-size: 2rem;
    line-height: 2.8rem;
  }
}

@mixin heading-6 {
  font-family: var(--font-default), var(--font-fallback);
  font-size: 1.6rem;
  line-height: 2rem;
  font-weight: bold;

  @include tablet {
    font-size: 1.6rem;
    line-height: 2.4rem;
  }
}

@mixin label-20 {
  font-family: var(--font-fallback);
  font-weight: 700;
  font-size: 2rem;
  line-height: 4rem;
}

@mixin label-18 {
  font-family: var(--font-fallback);
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.6rem;
}

@mixin label-16 {
  font-family: var(--font-fallback);
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 2.4rem;
}

@mixin label-14 {
  font-family: var(--font-fallback);
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 2.4rem;
}

@mixin label-12 {
  font-family: var(--font-fallback);
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 2.4rem;
}

@mixin text-20 {
  font-family: var(--font-fallback);
  font-size: 2rem;
  line-height: 3rem;
}

@mixin text-18 {
  font-family: var(--font-fallback);
  font-size: 1.8rem;
  line-height: 2.6rem;
}

@mixin text-16 {
  font-family: var(--font-fallback);
  font-size: 1.6rem;
  line-height: 2.4rem;
}

@mixin text-14 {
  font-family: var(--font-fallback);
  font-size: 1.4rem;
  line-height: 2.4rem;
}

@mixin text-12 {
  font-family: var(--font-fallback);
  font-size: 1.2rem;
  line-height: 2.4rem;
}
